[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta
[interactive]
	diffFilter = delta --color-only | less -RSFX
[delta]
	features = side-by-side line-numbers decorations
	whitespace-error-style = 22 reverse
[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none
[user]
	email = 13416785+canozokur@users.noreply.github.com
	name = canozokur
	signingkey = 64A519AE13727313
[commit]
	gpgsign = true
[pull]
	ff = only
[tag]
	forceSignAnnotated = false
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[core]
	excludesFile = ~/.gitignore
