[Unit]
Description=Rotate wallpaper timer

[Timer]
OnBootSec=5min
OnCalendar=*:0/15
Persistent=true
Unit=background-change.service

[Install]
WantedBy=timers.target
